/* Fonts */
@font-face {
 font-family: 'helvetica';
 src: url('/assets/fonts/helvetica-neuelt.TTF') format('truetype');
 font-style: normal;
}

@font-face {
 font-family: 'helvetica-bold';
 src: url('/assets/fonts/helvetica-neuelt-bold.TTF') format('truetype');
 font-style: normal;
}