$icomoon-font-path: "../fonts/icons-fonts" !default;

$icon-approve: unquote('"\\e900"');
$icon-approve-lg-path1: unquote('"\\e901"');
$icon-approve-lg-path2: unquote('"\\e902"');
$icon-approve-lg-path3: unquote('"\\e903"');
$icon-approve-lg-path4: unquote('"\\e904"');
$icon-approve-lg-path5: unquote('"\\e905"');
$icon-approve-lg-path6: unquote('"\\e906"');
$icon-approve-lg-path7: unquote('"\\e907"');
$icon-arrow: unquote('"\\e908"');
$icon-calendar: unquote('"\\e909"');
$icon-dropdown-arrow: unquote('"\\e90a"');
$icon-edit: unquote('"\\e90b"');
$icon-export: unquote('"\\e90d"');
$icon-eye: unquote('"\\e90e"');
$icon-file: unquote('"\\e90f"');
$icon-file-search: unquote('"\\e910"');
$icon-global: unquote('"\\e912"');
$icon-pagination-arrow-path1: unquote('"\\e913"');
$icon-pagination-arrow-path2: unquote('"\\e914"');
$icon-reject: unquote('"\\e915"');
$icon-search: unquote('"\\e916"');
$icon-trash: unquote('"\\e917"');
$icon-trash-lg: unquote('"\\e918"');