<!-- Clear Filters-->
<div class="clear-filters mb-2">
  <button (click)="clearFilters()">
    {{ clear | transloco }}
  </button>
</div>

<!-- Filteration -->
<div class="card filteration-card mb-2">
  <div class="filteration">
    <h2 class="title">{{ filterBy | transloco }}</h2>
    <input type="number" (input)="onFilter($event, 'id')" placeholder="{{ id | transloco }}" class="filter-input"
      aria-label="ID" #filterInput />
    <input type="text" (input)="onFilter($event, 'firstName')" placeholder="{{ firstName | transloco }}"
      class="filter-input" aria-label="First Name" #filterInput />
    <input type="text" (input)="onFilter($event, 'lastName')" placeholder="{{ lastName | transloco }}"
      class="filter-input" aria-label="Last Name" #filterInput />
    <input type="text" (input)="onFilter($event, 'phone')" placeholder="{{ phone | transloco }}" class="filter-input"
      aria-label="Phone" #filterInput />
    <input type="text" (input)="onFilter($event, 'email')" placeholder="{{ email | transloco }}" class="filter-input"
      aria-label="Email" #filterInput />
    <input type="number" (input)="onFilter($event, 'salary')" placeholder="{{ salary | transloco }}"
      class="filter-input" aria-label="Salary" #filterInput />
  </div>
</div>

<!-- Table -->
<div class="card table-card">
  <p-table [scrollable]="true" [rowHover]="true" responsiveLayout="scroll" [resizableColumns]="true"
    columnResizeMode="expand" [value]="filteredEmployees" [paginator]="true" [rows]="10">
    <!-- Table Header -->
    <ng-template #header>
      <tr>
        <th pSortableColumn="id">{{ id | transloco }}
          <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="firstName">{{ firstName | transloco }}
          <p-sortIcon field="firstName"></p-sortIcon>
        </th>
        <th pSortableColumn="lastName">{{ lastName | transloco }}
          <p-sortIcon field="lastName"></p-sortIcon>
        </th>
        <th pSortableColumn="phone">{{ phone | transloco }}
          <p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th pSortableColumn="email">{{ email | transloco }}
          <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="salary">{{ salary | transloco }}
          <p-sortIcon field="salary"></p-sortIcon>
        </th>
        <th>{{ actions | transloco }}</th>
      </tr>
    </ng-template>
    <!-- Table Body -->
    <ng-template #body let-employee>
      <tr>
        <td>{{ employee.id }}</td>
        <td class="text-capitalize">{{ employee.firstName }}</td>
        <td class="text-capitalize">{{ employee.lastName }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.salary }}</td>
        <td>
          <div class="actions">
            <button (click)="onEdit(employee)" class="p-button p-button-danger">
              <span class="icon-edit mx-1"></span>
              {{ update | transloco }}
            </button>
            <button (click)="onDelete(employee.id)" class="p-button p-button-danger">
              <span class="icon-trash mx-1"></span>
              {{ trash | transloco }}
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>