.input-wrapper {
    input {
        height: px-to-rem(43px);
        padding: px-to-rem(10px);
        border-color: $gray-50;
        border-radius: px-to-rem(8px);
        width: 100%;

        &::placeholder {
            color: $placeholder;
        }

        &:hover,
        &:active,
        &:focus {
            box-shadow: none;
            outline: 0;
        }
    }
}
.p-datepicker {
    table {
        .p-element {
            &:hover {
                background-color: lighten($primary, 10%);
                color: $white;
            }
        }
        .p-datepicker-today {
            & > span {
                background-color: $secondary;
                color: $white;
                &:hover {
                    background-color: ($secondary, 10%);
                    color: $white;
                }
            }
        }
        .p-highlight {
            background-color: $primary !important;
            color: $white !important;
            &:hover {
                background-color: lighten($primary, 10%);
                color: $white;
            }
        }
        .p-datepicker-current-day {
            background-color: $primary;
        }
        &.p-datepicker-calendar {
            thead {
                tr {
                    th {
                        @include respond-to-max(medium) {
                            min-width: auto !important;
                        }
                    }
                }
            }
        }
    }
}

html[lang="ar"] {
    .p-datepicker {
        .p-datepicker-header {
            .p-datepicker-prev, .p-datepicker-next {
                transform: rotate(180deg);
            }
        }
    }   
}