/* ltr variable support */
$def-float: left;
$opp-float: right;
$def-direction: ltr;
$opp-direction: rtl;
$body-text-align: $def-float;
$def-scale: 1;
$opp-scale: -1;
$breadcrumb-rotate-angel: -90deg;